<section class="container-sm p-0" style="height: 30vh;">
  <div class="background-image">

    <div class="d-flex align-items-center justify-content-between px-4 pt-4">
      <a href="">
        <img src="../../../assets/svg/menu-icon.png" height="32px" width="32px" alt="logo">
      </a>
      <a>
        <img src="../../../assets/svg/user-icon.png" height="48px" width="48px" alt="logo">
      </a>
    </div>

    <div class="pl-4">Dashboard</div>

  </div>
</section>

<section class="container-sm p-0" style="height: 70vh;">
  <div class="menu-section">

    <div class="pl-4 pt-5">Dashboard</div>

  </div>
</section>