@import "../../../styles.scss";

.inputForm {
  -webkit-box-shadow: 2px 2px 5px 1.5px rgba(0, 0, 0, 0.46);
  box-shadow: 2px 2px 5px 1.5px rgba(0, 0, 0, 0.46);
  border-radius: 12px;
  font-size: 18;
  border-color: $color7;
  box-shadow: none !important;

  &:focus {
    border-color: transparent !important;
    outline: none;
  }
}

label {
  background-color: rgba(210, 226, 226, 0.6);
  border-radius: 12px;
  padding: 4px;
  font-weight: bold;
}

.btnColor {
  background-color: $color3;
  border-radius: 15px;
  color: white;
  font-weight: bold;
}