<section class="container-sm" style="max-width: 380px;">
  <div class="d-flex flex-row justify-content-between align-items-center mb-5 mt-4">
    <a href="courses">
      <img src="../../../assets/svg/menu-icon-green.png" height="32px" width="32px" alt="logo">
    </a>
    <h1 class="title">Meus cursos</h1>
    <div style="width: 32px;"></div>
  </div>

  <div class="card-style mb-4">
    <div class="d-flex justify-content-between">
      <div class="d-flex align-items-center">
        <div>
          <img src="../../../assets/svg/logo-card.png" height="40px" alt="logo">
        </div>
        <div class="card-infos">
          <p class="card-title">{{values.title}}</p>
          <p class="card-subtext">{{values.value}}</p>
          <p class="card-subtext">Duração: {{values.duration}} horas</p>
        </div>
      </div>
      <div>
        <div class="subscription-container p-2">Inscrito</div>
      </div>
    </div>
    <div class="d-flex justify-content-end mt-3 mb-3">
      <div class="mr-2">
        <div class="course-info-container p-2">Notas</div>
      </div>
      <div>
        <div class="course-info-container p-2">Material de apoio</div>
      </div>
    </div>
  </div>


</section>